/* reset css */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(background.jpg);
  color: #fff;
  background-size: cover;
}

/* style navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-kanan {
  display: flex;
}

.logo {
  margin-left: 20px;
  font-weight: bold;
}

.nav-kanan p {
  margin-right: 20px;
}

/* style isi */
.isi {
  width: 340px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}

.isi h1 {
  color: yellow;
}

.clock {
  width: 200px;
  font-size: 42px;
  border: 2px solid #eee;
  padding: 15px 30px;
  margin: 0 auto;
  border-radius: 50px;
}

/* style footer */
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.footer p a {
  color: #fff;
}
